*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #d7e7e9;
}



#progress{
	display: flex;
	position: relative;
	top: -20px;
	height: 75px;
	width: 100%;
	

}

#progress-bar {
	margin: auto;
	height: 10px;
	width: 860px;
}

.plane-img {
	position: absolute;
	top: -35px;
	left: 120px;
	background-image: url("redairplane.png");
	background-repeat: no-repeat;
	background-size: 100px;
	width: 100px;
	height: 75px;
}



.main-container{
	width: 100%;
	height: auto;
	text-align: center;
}

.content-container {
	margin: 5% auto 0 auto;
	width: 850px;
	height: auto;
	position: relative;


}
.clouds {
	background-image: url("clouds1.png");
	width: 100%;
	height: 60px;

}
.top-header {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #b3dee3;
	border-bottom: 5px solid #94d8e0;
}

.top-header p {
	line-height: 60px;
	font-family: intro;
	font-size: 1.5em;
	color: white;
}

.quiz-title {
	background-image: url("maintitle.png");
	background-repeat: no-repeat;
	background-size: 700px;
	height: 130px;
	width: 700px;
	margin: 0 auto;


}

.quiz-container{
	position: relative;
	margin: 0;
	text-align: center;
	position: relative;
	background-color: #f8eece;
	width: 500px;
	
	font-family: raleway;
}

.question {
	font-weight: bold;
}

.question-container {
	box-sizing: border-box;
	padding-top: 10%;
	float: left;
	width: 525px;
	margin: 0 auto;
	min-height: 425px;

}

.question-container li{
	list-style: none;
}

.question-container .question {
	font-size: 1.2em;
	font-weight: bold;
	
}


ul a{
	display: inline-block;
	width: 300px;
}


.answers li{
	
	margin: 15px auto;

}

.answers a {

	text-decoration: none;
	color: black;
}


.answers a:link {
	color: black;
}

.answers a:active {
	color: white;
}

.answers a:hover {
	background-color: rgba(255,255,255, 0.4);
}

.hide {
	display: none;
}

.btn-container {
	margin-left: 200px;
	
	width: 130px;
	

}

.btn-container a{
	color: white;
	text-decoration: none;
}

.previous {
	font-size: 12px;
	background-color: #94d8e0;
	padding: 5px;
	border-bottom: 1px solid #8dd0d8;
	float: left;
}
.highlight {
	background-color: rgba(255,255,255, 0.4);
}


.next {
	font-size: 12px;
	background-color: #94d8e0;
	padding: 5px;
	border-bottom: 1px solid #8dd0d8;
	float: right;
}

.btnStart{
	font-size: 12px;
	text-decoration: none;
	padding: 5px;
	border-bottom: 1px solid #8dd0d8;
	background-color: #94d8e0;
	color:white;

}



.suitcase-image{
	background-repeat: no-repeat;
	background-image: url("suitcases.png");
	width: 320px;
	min-height: 425px;
	float: right;
}